.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.job_conatiner {
  width: 85vw;
  height: 20vh;
  box-shadow: 0px 0px 22px 2px rgba(255, 32, 32, 0.25);
  margin: 1rem;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0.1rem;
  padding: 0.5rem;
}
.job_conatiner:hover {
  border-left: 2px solid #ed5353;
}
.logo {
  width: 15%;
  height: 15vh;
  display: flex;
  align-items: flex-start;
  padding-top: 0.5rem;
  justify-content: center;
}
.logo img {
  width: 70%;
  height: 8vh;
}
.job_desc {
  height: 15vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0.5rem;
}
.job_desc,
.about_job {
  margin: 0.4rem 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_job p {
  color: #9c9c9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_job p .icon_img {
  width: 1.3rem;
}
.job_desc .job_type {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  color: #ed5353;
}
.job_type {
  width: 60%;
}
.job_details {
  height: 15vh;
  width: 50%;
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}
.job_details .skills {
  display: flex;
}
.skills .skill {
  text-align: center;
  padding: 0.3rem 0.3rem;
  background: #ffeeee;
  margin: 0 0.2rem;
  font-weight: bold;
  font-size: 0.8rem;
}
.details_btn {
  border: none;
  outline: none;
  padding: 0.4rem;
  width: 8rem;
  color: #fff;
  background: #ed5353;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* Responsive styles{ */
@media only screen and (max-width: 470px) {
  .job_conatiner {
    width: 92vw;
    height: 25vh;
    margin: 0.5rem;
  }

  .job_desc {
    height: 20vh;
    width: 85%;
  }
  .about_job {
    width: 100%;
  }
  .logo img {
    width: 130%;
  }
  .job_details {
    height: 20vh;
    width: 30%;
    justify-content: flex-start;
  }
  .skills {
    height: 15vh;
    flex-wrap: wrap;
  }
  .about_job p {
    font-size: 0.8rem;
    margin: 0 0.2rem;
  }
  .skills .skill {
    padding: 0.3rem;
    width: 4rem;
    height: 1.7rem;
    border-radius: 2rem;
  }
  .details_btn {
    padding: 0.2rem;
    font-size: 0.5rem;
    width: 4rem;
  }
}
