.header {
  width: 100vw;
  height: 14vh;
  background: #ed5353;
  border-radius: 0 0 2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header h2 {
  position: absolute;
  color: #fff;
  top: 1.2rem;
  left: 1.8rem;
}
.user_details {
  position: absolute;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.user_details p {
  color: #fff;
  font-weight: bold;
}
.user_details p:first-child {
  cursor: pointer;
}
.user_details img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.nav {
  position: absolute;
  right: 3rem;
}
.nav button {
  padding: 0.6rem 0;
  width: 7rem;
  margin: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.login_btn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
.register_btn {
  color: #ed5353;
  background: #fff;
  border: 1px solid #ed5353;
}
