.container_div {
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 5.8rem;
  z-index: 10;
  background: #fff;
}
.search_container {
  width: 75vw;
  height: 25vh;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.1rem;
}

.input_search {
  width: 70vw;
  padding: 1rem;
  border: 2px solid rgb(228, 225, 225);
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  color: rgb(196, 194, 194);
}
.select_options {
  margin-top: 1rem;
  width: 70vw;
  display: flex;
  gap: 1rem;
  padding: 0.4rem;
  align-items: center;
  justify-content: space-between;
}
.form-select {
  padding: 0.5rem;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 0.3rem;
  outline: none;
  width: 10%;
}
.selected_skills {
  width: 80%;
  display: flex;
}
.skills_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
}
.skills_div p {
  color: black;
  padding: 0.4rem 0.8rem;
  background: #ebcfcf;
}
.skills_div span {
  padding: 0.4rem 0.8rem;
  color: #fff;
  background: #ed5353;
  cursor: pointer;
}
.clear_skills {
  color: #ed5353;
  cursor: pointer;
}
.addjobOption {
  width: 10%;
}
.add_btn {
  border: none;
  outline: none;
  padding: 0.5rem 0;
  width: 7rem;
  color: #fff;
  background: #ed5353;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
/* Responsive styles{ */
@media only screen and (max-width: 470px) {
  .search_container {
    width: 92vw;
  }
  .input_search {
    width: 80vw;
  }
  .select_options {
    width: 93vw;
    gap: 0.2rem;
  }
  .addjobOption {
    width: 18%;
  }
  .selected_skills {
    width: 70%;
  }
  .skills_div p {
    padding: 0.1rem 0.2rem;
  }
  .skills_div span {
    padding: 0.1rem 0.2rem;
  }
  .add_btn {
    padding: 0.2rem;
    font-size: 0.5rem;
    width: 4rem;
  }
}
