.authUser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.img_container {
  display: block;
  width: 35vw;
  height: 120vh;
  position: relative;
}
.container {
  width: 50vw;
  height: 100vh;
  position: relative;
}
.auth_heading {
  position: absolute;
  color: #fff;
  top: 3rem;
  font-weight: 300;
  left: 9rem;
}
.auth_img {
  width: 100%;
  height: 99%;
}

/* Responsive styles{ */
@media only screen and (max-width: 470px) {
  .container {
    width: 100vw;
    height: 30vh;
  }
  .img_container {
    display: none;
  }
}
